language: node_js
node_js:
  - '12'
cache:
  # Caches $HOME/.npm when npm ci is default script command
  # Caches node_modules in all other cases
  npm: true
  directories:
    # we also need to cache folder with Cypress binary
    - ~/.cache
install:
  - npm install
script:
  - npx stylelint "**/*.scss"
  - npm run affected:lint -- --base=origin/master --parallel
  - npm run affected:test -- --base=origin/master --parallel
  - npm run affected:e2e -- --base=origin/master --headless --parallel
after_script:
  - ./post_build_results
